- page_title _("Packages")
- can_destroy_package = can?(current_user, :destroy_package, @project)

- if vue_package_list_enabled_for?(@project)
  .row
    .col-12
      #js-vue-packages-list{ data: { project_id: @project.id, 'can_destroy_package' => can_destroy_package } }

- else
  = render "legacy_package_list", can_destroy_package: can_destroy_package
